<div class="container mx-auto px-4 h-full py-4">
  <div class="flex justify-end">
    <button
      class="bg-gray-950 text-white px-4 py-2 rounded-md font-medium focus:bg-gray-900 hover:bg-gray-900"
      (click)="onLogout()"
    >
      Log Out
    </button>
  </div>
  <h1
    class="mb-2 text-center text-3xl uppercase font-extrabold text-gray-900 tracking-widest"
  >
    Fake Store
  </h1>
  <h2 class="text-center text-sm font-semibold text-gray-600 mb-10">
    Find Online Products Easily
  </h2>
  <label for="search" class="sr-only">Username</label>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    id="search"
    name="search"
    placeholder="Search..."
    class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
  />
  <h3 class="text-xl my-4 text-gray-800 font-medium">
    Recommendations for you
  </h3>
  <div class="grid grid-cols-4 gap-4">
    <div
      *ngFor="let product of products | filter : searchTerm"
      class="bg-white rounded overflow-hidden shadow-lg cursor-pointer"
      (click)="onProductClick(product.id)"
    >
      <img class="w-full h-[200px]" [src]="product.image" alt="Product image" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl truncate mb-2">{{ product.title }}</div>
        <p class="line-clamp-3 text-gray-900">{{ product.description }}</p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block text-lg font-bold text-gray-900 mr-2 mb-2">
          {{ product.price | currency : "USD" }}
        </span>
      </div>
      <div class="px-6 pt-2 pb-2 flex items-center space-x-2 justify-center">
        <button
          class="px-3 py-1 bg-red-200 rounded-lg focus:outline-none font-medium"
        >
          Cart -
        </button>
        <span
          class="px-3 py-1 text-center border border-gray-200 rounded-lg focus:outline-none"
          >1</span
        >
        <button
          class="px-3 py-1 bg-emerald-200 rounded-lg focus:outline-none font-medium"
        >
          Cart +
        </button>
      </div>
    </div>
  </div>
</div>
